@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@theme {
  --font-family-sans: "Poppins", sans-serif;
  --color-primary: #fcaf1b;
  --color-secondary: #161f48;
  --color-bluee: #2e57c8;
  --color-strokes: #a3b3ff;
}

body {
  font-family: var(--font-family-sans);
}
